<!-- <a href='/login'>Login</a>
<a href='/logout'>Logout</a> -->

<div id="cover"></div>
  <div class="splash">
  	<h1>WELCOME</h1>
  </div>
  <div class="down fa fa-caret-down"></div>
  <div class="main">
  	<h1 class="tagline">REVIEWS</h1>
  	<div class="review">
  		<div class="review-image">
  			<img src="http://cdn.movieweb.com/img.site/PHmVoyCGQSKPrn_1_l.jpg">
  		</div>
  		<div class="review-content">
  			<p>DATE</p>
  			<h1>MOVIE TITLE</h1>
  			<p>AUTHOR</p>
  			<p>TRUNCATED REVIEW</p>
  		</div>
  	</div>

  	<div class="review">
  		<div class="review-image">
  			<img src="http://cdn2-www.comingsoon.net/assets/uploads/gallery/marvels-daredevil-1413056220/dd_vertical-bloodyknuckles_us-main.jpg">
  		</div>
  		<div class="review-content">
  			<p>DATE</p>
  			<h1>MOVIE TITLE</h1>
  			<p>AUTHOR</p>
  			<p>TRUNCATED REVIEW</p>
  		</div>
  	</div>

  </div>
