<!-- <div id="cover"></div> -->
<div class="splash">
	<!-- <h1>WELCOME</h1> -->
</div>
<div class="logo">
  <img src="theCinemastersLogo.png">
</div>
<div class="down fa fa-caret-down"></div>
<div class="main">
	<h1 class="tagline">MOVIES</h1>

  <% Movie.all.each do |movie| %>
  <% if event_is_publishible?(movie.events.last)%>
    <div class="review-2">
      <div class="review-2-image" style="background-image: url(<%= movie.img_url %>)">
        <p>Added <%= time_ago_in_words(movie.created_at) %> ago</p>
        <h1 class="white-link"><%= link_to movie.name, "/movies/" + movie.id.to_s %></h1>
      </div>
    </div>
    <%end%>
  <% end %>
  <a href="/critics"
</div>