<div id="critic-event" class="slide-left">
	<div id="critic-event-content">
		<h2>Welcome <%= @critic.username %> </h2>
		<p>Your username: <%= @critic.username %><p>
		<p>Your email address: <%= @critic.email %><p>
		<h1>You have been invited to pariticipate in</h1>
		<% @critic.joined_events.each do |event| %>
		  <div class="event">
			  <p><%= link_to event.name, event %></p>
		 	</div>
		<% end %>
	</div>

	<div id="critic-event-tab"></div>
</div>
