<div id="critic-event" class="slide-left">
	<div id="critic-event-content">
		<h2>WELCCOME <%= @critic.username.upcase %> </h2>
		<p><%= @critic.email.upcase %><p>
		<h2>YOU'RE INVITED TO THE FOLLOWING EVENTS</h2>
		<% @critic.joined_events.each do |event| %>
		  <div class="event">
			  <p><%= link_to event.name, event %></p>
		 	</div>
		<% end %>
	</div>

	<div id="critic-event-tab"></div>
</div>
