show.html.erb

<h2>Event: <%= @event.name %> is a review for <%= @event.movie.name %></h2>

The following reviews are for this event:<br><br>
<ul>
  <% @event.reviews.each do |review| %>
    <li><%= link_to review.critic.username, review %>
        <% if review_has_data(review) %>
          (Started or Completed)
        <% end %>
        <% if review.critic.id == current_user.id %>
          <a href="/reviews/new/<%=@event.id%>"> (Create / Edit your review) </a>
        <% end %>
        </li>
  <% end %>
</ul>

