body {
	text-align: center;
	margin: 0;
	padding: 0;
	background-color: #f6f6f6;
	font-family: 'Montserrat';
}

#nav-button-hover {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 32px;
	z-index: 1;
}

#nav-button-click {
	position: fixed;
	top: 10px;
	right: 10px;
	font-size: 32px;
}

#center {
	position: absolute;
	left: 40%;
	text-align: center;
}

#left {
	float: left;
	display: inline;
}

.hidden-button {
	opacity: 0;
}

.hidden-button:hover {
	cursor: pointer;
}

nav {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #000;
	color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	height: 50px;
	width: 100%;
	z-index: 1;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	display: inline;
	margin-left: 0.5em;
}

nav ul li a {
	color: white;
	text-decoration: none;
	transition: all 0.5s linear;
}

nav ul li a:hover {
	color: gray;
	transition: all 0.5s linear;
}

.active {
	display: block;
}

.inactive {
	display: none;
}

.login {
	width: 80%;
	margin: 5em auto;
}

.main input {
	margin: 0 auto;
}

.form {
	margin: 5em auto;
	width:250px;
	text-align: center;
}

.form input {
	background: #f6f6f6;
	border: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 250px;
	display: block;
}

.form input:focus {
	outline-width: 0;
}

.form input[type=submit] {
	background-color: none;
	color: black;
	transition: all 0.5s linear;
}

.form input[type=submit]:hover {
	background-color: black;
	color: white;
	transition: all 0.5s linear;
}

input[type=submit] {
	margin: 1em auto;
	background: #f6f6f6;
	border: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 250px;
	display: block;
	outline-width: 0;
	background-color: none;
	color: black;
	transition: all 0.5s linear;
}

input[type=submit]:hover {
	background-color: black;
	color: white;
	transition: all 0.5s linear;
}

.main {
	position: relative;
	width: 80%;
	height: 100%;
	margin: 5em auto;
	text-align: center;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	clear: both;
}

.tagline {
	display: none;
}

#cover {
	position: fixed;
	top: 0;
	left: 0;
	height: 1920px;
	width: 100%;
	background-color: black;
}

.review {
	display: block;
	width: 80%;
	height: 250px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin: 2em auto;
/*	overflow: hidden;*/
}

.review a {
	color: black;
	text-decoration: none;
	transition: all 0.5s linear;
}

.review a:hover {
	color: gray;
	transition: all 0.5s linear;
}

.review-image {
	display: inline-block;
	float: left;
	width: 30%;
	height: 100%;
	background-size: cover;
	filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  transition: all 0.5s;
}

.review-image:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
  transition: all 0.5s;
}

/*.review-image img {
	float: left;
	height: 250px;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}*/

.review-content {
	text-align: left;
	display: inline-block;
	float: right;
	width: 60%;
}

.review-content input {
	float: left;
}

.review-2 {
	display: inline-block;
	width: 30%;
	height: 350px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin: 1em;
	float: left;
/*	overflow: hidden;*/
}

.review-2-image {
	display: inline-block;
	font-size: 10px;
	float: left;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center
	filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
	background-size: cover;
  transition: all 0.5s;
}

.review-2-image:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
  transition: all 0.5s;
}

.review-2-image p, .review-2-image h1 {
	background-color: #000;
}

.review-2-image h1 a {
	padding: 0.5em;
	font-size: 24px;
	color: white;
	text-decoration: none;
	transition: all 0.5s linear;
}

.review-2-image h1 a:hover {
	color: gray;
	transition: all 0.5s linear;
}

.critic-review {
	display: block;
	width: 80%;
	height: 200px;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin: 2em auto;
	overflow: hidden;
}

.critic-review a {
	color: black;
	text-decoration: none;
	transition: all 0.5s linear;
}

.critic-review a:hover {
	color: gray;
	transition: all 0.5s linear;
}

.critic-review-image {
	float: left;
	display: inline-block;
	width: 30%;
	height: 100%;
	color: white;
	text-align: center
	filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
	background-size: cover;
	transition: all 0.5s;
}

.critic-review-image:hover {
	filter: none;
	-webkit-filter: grayscale(0%);
  transition: all 0.5s;
}

.critic-review-content {
	margin-left: 2em;
	font-size: 16px;
	display: inline-block;
	text-align: left;
	float: left;
	width: 60%;
}

#critic-event {
	position: fixed;
	top: 5em;
	width: 50em;
	height: 80vh;
	background-color: #f6f6f6;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 1;
	overflow: hidden;
	overflow-y: scroll;

}

#critic-event-content {
	position: relative;
	width: 80%;
	height: 100%;
	float: left;
	text-align: left;
	margin-left: 1em;
}

#critic-event-tab {
	position: relative;
	width: 10%;
	height: 100%;
	float: right;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABZJREFUeNpi2r9//38gYGAEESAAEGAAasgJOgzOKCoAAAAASUVORK5CYII=);
}

#critic-event a {
	color: gray;
	text-decoration: none;
	transition: all 0.5s linear;
}

#critic-event a:hover {
	color: black;
	transition: all 0.5s linear;
}

.slide-left {
	left: -750px !important;
}

.slide-right {
	left: 0px !important;
}

.splash {
	width: 100%;
	height: 650px;
	background: url("http://www.q8ieng.com/wp-content/uploads/2011/10/IMG_2183-BW.jpg");
	background-size: cover;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	color: white;
	opacity: 0.5;
}

.splash h1 {
	z-index: 1;
	margin-top: 0;
	font-size: 64px;
	padding-top: 4em;
}

.down {
	font-size: 32px;
}


.profile-image {
	border-radius: 50%;
	width: 200px;
	height: 200px;
	border: 0.1px solid black;
	margin: 2em;
	filter: gray;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
	transition: all 0.5s;
}

.profile-image:hover {
	filter: none;
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	transition: all 0.5s;
}

.show-movie-container {
	margin-top: 5em;
	margin-bottom: 5em;
	width: 100%;
}

.movie-image {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 100%;
	height: 400px;
	background-size: cover;
	margin-bottom: 1em;
}

.show-movie-container img {
	width: 100%;
	height: 100%;
}

.event-container {
	display: block;
	width: 80%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin: 2em auto;
}
#total-score{
	display: inline-block;
	background-color: black;
	color: white;
	width: 65px;
	height: 55px;
	padding-top:; 10px;
	font-size: 45px;
}
.black-link {
	color: black;
	text-decoration: none;
	transition: all 0.5s;
}
.reviews-list{
	font-size: 25px;
	text-align: left;
	list-style: none;
}
.reviews-list a{
	text-decoration: none;
	color: black;
}

.black-link:hover {
	color: gray;
	transition: all 0.5s;
}

.event-header{
	font-size: 40px;
}
.movie-title{
	font-style: italic;
	font-size: 50px;
}



.rating-criterias {
	display: block;
	width: 100%;
}

.rating-criterias li {
	list-style-type: none;
	margin: 0.3em;
}

.rating-criterias {
	display: block;
	color: white;
	text-align: left;
}

.rating-criterias p {
	margin-left: 1em;
}

.rating-content {
	margin-top: 3em;
	text-align: left;
}

.social {
	float: left;
	font-size: 32px;
}

.social a {
	color: black;
	text-decoration: none;
	transition: all 0.5s;
}

.social a:hover {
	color: gray;
	transition: all 0.5s;
}

.review-images {
	display: block;
}

.review-images img {
	display: inline;
	border-radius: 50%;
	border: 1px solid black;
	width: 100px;
	height: 100px;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s;
  margin-left: 1em;
  margin-right: 1em;
}

.review-images img:hover {
	-webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: all 0.5s;
}

.event-review {
	float: left;
	display: inline-block;
	width: 32%;
	height: 250px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	vertical-align:top;
	margin-right: 0.8em;
	margin-top: 1em;
	margin-bottom: 1em;
	-webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s;
  background-size: cover;
  color: white;
}

.event-review:hover {
	-webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: all 0.5s;
}

.event-review a {
	color: white;
	text-decoration: none;
	transition: all 0.5s;
}

.event-review a:hover {
	color: gray;
	transition: all 0.5s;
}

.event-review h1, .event-review p {
	background-color: black;
}

.event-review-container {
	display: block;
	width: 100%;
	/*min-height: 60em;*/
}

.event-review-button {
	display: block;
	width: 25%;
	margin: 1em auto;
}

.gray {
	color: gray;
}

.border {
	width: 100%;
	border-bottom: 1px gray solid;
}

.movie-img {
	display:flex;
  justify-content:center;
  align-items:center;
  height: 300px;
  overflow:hidden
}

.movie-img img {
	flex-shrink:0;
  min-width:100%;
  min-height:100%
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#artistic {
	width: 10%;
}

.content {
	width: 600px;
	height: 300px;
}

.movie-selector select {
	margin: 0 auto;
  background: #f6f6f6;
	border: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 250px;
	display: block;
}

.aButton {
	text-decoration: none;
	margin: 1em auto;
	background: #f6f6f6;
	border: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 250px;
	display: block;
	outline-width: 0;
	background-color: none;
	color: black;
	transition: all 0.5s linear;
}

.aButton:hover {
	background-color: black;
	color: white;
	transition: all 0.5s linear;
}

button {
	text-decoration: none;
	margin: 0 auto 0 auto;
	background: #f6f6f6;
	border: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 0.5em;
	width: 250px;
	display: block;
	outline-width: 0;
	background-color: none;
	color: black;
	transition: all 0.5s linear;
}

button:hover {
	background-color: black;
	color: white;
	transition: all 0.5s linear;
}

.event-invite-buttons button {
	margin-left: -3.1em;
	width: 300px;
}

.logo {
	position: absolute;
	top: 6em;
	left: 0;
	width: 100%;
	opacity: 0.8;
}

.logo img {
	top: 0;
	left: 0;
	margin: 0 auto;
	width: 600px;
}

.left {
	margin-top: 1em;
	float: left;
}

.container a {
	color: gray;
	transition: all 0.5s;
}

.container a:hover {
	color: black;
	transition: all 0.5s;
}

.rating-content p {
	text-align: justify;
}

.rating-content p:first-child:first-letter {
	float: left;
	color: gray;
	font-size: 75px;
	line-height: 60px;
	padding-right: 3px;
	padding-left: 3px;
}

.bar {
	background-color: black;
	transition: all 0.5s;
}

.bar:hover {
	background-color: gray;
	transition: all 0.5s;
}

.scorecard {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 32px;
	background-color: black;
	color: white;
	text-align: center;
}

.review-paragraph {
	margin-bottom: 3em;
}

.footer{
	clear: both;
	margin-top: 300px;
	margin-bottom: 2em;

}
.footer a{
	text-decoration: none;
	color:black;
	font-size: 24px;
	text-decoration: none;
	margin: 1em auto;
	background: #f6f6f6;
	border: none;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 175px;
	display: block;
	outline-width: 0;
	background-color: none;
	color: black;
	transition: all 0.5s linear;
}

.footer a:hover {
	background-color: black;
	color: white;
	transition: all 0.5s linear;
}
.error{
	color: red;
	font-style: italic;
}
