This is reviews/show.html.erb

<h2>Review for <%= @review.movie.name %></h2>

<% @review.ratings.split(',').each_with_index do |val,index| %>
Value<%= index %> is <%= val %> / 10 <br>
<% end %>
<br><br>
<p><%= @review.content %></p>
